#background{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
   
   
    background-position: center;

    background-image: url(../../assets/login1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
    
}