/* #banner-bg{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 70vh;
   
   
    background-position: center;

    background-image: url(https://i.ibb.co/tQ78hqh/nbanner.png);
    background-repeat: no-repeat;
    background-size: cover;
    
} */