#banner-bg{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 80vh;
   
   
    background-position: center;

    background-image: url(https://i.ibb.co/stZ13FB/bnr1.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}